/* only small desktops */
/* tablets */
/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) {
  body, p{
    font-size: 17px !important;
  }
  .navbar{
  padding: 10px 30px !important;
  }
  .navbar-nav .nav-item:last-child{
    margin-right: 0px;
  }
    #main_nav{
    padding: 40px 0px;
    font-size: 20px;
    background: #e9ecef;
  }
  .navbar-nav > li {
    margin: 0px 20px 0px !important;
    padding: 10px 0px 10px;
  }

  .navbar-nav > li:not(:last-child){
    border-bottom: 1px solid #fff;
  }
  .navbar-nav li a{
    padding: 4px 16px !important;
  }
  .navbar-nav > li:last-child{
    margin: 20px auto !important;
  }
  .dropdown-menu{
    border: none !important;
    background-color: transparent !important;
  }
  .dropdown-menu a{
    font-size: 18px;
  }
  .dropdown-menu .dropdown-item{
    background-color: #fff !important; 
    border-radius: 20px;
  }
  .dropdown-menu li{
  padding: 5px 15px !important;
  }
  #hero-area .contents h1 {
    font-size: 36px; }

  .official-logos img{
    width: 80px;
   } 
  .item-boxes h4 {
    font-size: 18px; }

  #news-insights .news-item-box h3{
    font-size: 20px;
  }  
  /**Sectors & services**/
  #sectors-services .container {
    max-width: 760px !important;
    padding: 60px 20px 60px !important;
  }
  #sectors-services .sectors-services-item ul{
    padding-left: 20px !important;
  }  
  #sectors-services .icon img {
    height: 30px;
    width: 30px;}
  #sectors-services .nav-tabs .icon {
    width: 60px;
    height: 60px;}
/**Team**/
  #team .showOnSmall{
    display: block;
    margin: auto;
    margin-bottom: 40px !important;
  }
  #team .hideOnSmall{
    display: none;
  }
/**Career**/
  #careers .container{
  padding: 60px 40px 60px;}

  #features .show-box img {
    display: none; }

  .contactSection { 
  padding-left: 30px;
  padding-right: 30px;
  }

  .pricing-table .pricing-details ul li {
    font-size: 12px; }

  .counters .facts-item .fact-count h4 {
    font-size: 14px; }

  .single-team {
    margin-bottom: 30px; }

  .meta-tags span {
    margin-right: 3px; }

  .meta-tags span i {
    margin-right: 0px; }

  #blog .blog-item-text h3 {
    font-size: 14px;
    line-height: 20px; } 

  }
/* mobile or only mobile */
@media (max-width: 767px) {
  body, p{
    font-size: 17px !important;
  }
  h1{
  font-size: 32px !important;
  } 
  h2{
    font-size: 28px !important;
  } 
  h3{
    font-size: 24px !important;
  } 
  h4{
    font-size: 20px !important;
  } 
  h5{
    font-size: 18px !important;
  } 
  h6{
    font-size: 16px !important;
  } 
  .navbar{
  padding: 10px !important;
  }
  .navbar-nav .nav-item:last-child{
    margin-right: 0px;
  }
  a.navbar-brand{
    width: 70%;
  }
  a.navbar-brand img{
    width: 100%;
    height: auto;
  }
  #main_nav{
    padding: 40px 0px;
    font-size: 20px;
    background: #e9ecef;
  }
  .navbar-nav > li {
    margin: 0px 20px 0px !important;
    padding: 10px 0px 10px;
  }

  .navbar-nav > li:not(:last-child){
    border-bottom: 1px solid #fff;
  }
  .navbar-nav li a{
    padding: 4px 16px !important;
  }
  .navbar-nav > li:last-child{
    margin: 20px auto !important;
  }
  .dropdown-menu{
    border: none !important;
    background-color: transparent !important;
  }
  .dropdown-menu a{
    font-size: 18px;
  }
  .dropdown-menu .dropdown-item{
    background-color: #fff !important; 
    border-radius: 20px;
  }
  .dropdown-menu li{
  padding: 5px 15px !important;
  }
  .container{
    padding: 0px !important;
  }
  .section {
    padding: 80px 20px;
  }
  .section-header .section-title {
    font-size: 24px; }

  #hero-area .contents {
    padding: 100px 10px 60px; }

  #hero-area .contents h1 {
    font-size: 30px;
    line-height: 32px; }
  #hero-area .contents .btn {
    margin: 30px auto 0px;}
  #carouselBanner #impLinks a{
  margin: 20px 5px 60px;
  width: 80px;
  height: 80px;
  }
  #carouselBanner #impLinks img{
    width: 60px;
  }  
  #carouselBanner #banner-1 {
  background: url('../img/slider/hero_area_1-S.jpg');
  }
  #carouselBanner #banner-2 {
  background: url('../img/slider/hero_area_2-S.jpg');
  } 

  .modal-body{
  padding: 2rem 1rem;
  }
  #about{
    background-position-x: right !important;
  }  
  #about .box-item {
    padding: 5px 0px 10px;
    display: block ruby;
  }  
  #about .box-item .text {
  padding-left: 10px;
  }
  #about .coreValues th{
  font-size: 18px;
  padding-right: 10px;}
  #news-insights .news-item-box{
    margin: 20px auto 20px;
  }
  #news-insights .news-item-box h3{
    font-size: 20px;
  } 
  .singlePage .mainSection {
    margin: 60px auto 0px;  
  }

  /**Sectors & services**/
  #sectors-services .container {
    background: transparent !important;
  }
  #sectors-services .sectors-services-item ul{
    padding-left: 0px !important;
    padding-top: 20px;
  }
  #sectors-services .sectors-services-item {
    padding: 60px 20px !important;
    background-color: #fff !important;
    margin-left: 0px !important;
  }
  #sectors-services .nav-tabs .active {
    background: #fff !important;
  }
  #sectors-services .icon img {
    height: 30px;
    width: 30px;}
  #sectors-services .nav-tabs .icon {
    width: 60px;
    height: 60px;}

    /**Team**/
  #team .showOnSmall{
    display: block;
    margin-bottom: 30px; }
  #team .hideOnSmall{
    display: none;
  }

  /** Careers **/
  #careers .container{
  padding: 60px 20px !important;}

  #features .show-box img {
    display: none; }

  #features .box-item .text h4 {
    font-size: 14px; }

  .controls {
    margin: 0px; 
  }

  .video-promo .video-promo-content h2 {
    font-size: 22px; }

  .pricing-table {
    margin-bottom: 15px; }

  .counters .facts-item {
    margin-bottom: 30px; }

  .single-team {
    margin-bottom: 15px; }

  .contact-us {
    margin-bottom: 30px; }

  .contact-us h3 {
    font-size: 28px; }

  .footer-links li a {
    margin-right: 10px; }

  .copyright {
    float: left; } 
  .icon-img{
      width: 24px;
    } 
  }

/*# sourceMappingURL=responsive.css.map */
